/* styles.css */

nav {
    display: flex;
    justify-content: space-between;
}

.clock {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 1em;
    display: flex;
    position: relative;
    left: 180px;
    top: 20px;
}

li {
    margin-right: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 300;
}

